{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent
{% endblock %}

{% block body %}

	<section class="page-section">
		<div class="container py-5 mt-5">
			<p>
				Si un compte correspondant à votre e-mail existe, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
			</p>
			<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
			</p>
			<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
				<a href="{{ path('app_forgot_password_request') }}">essayer à nouveau</a>.</p>
		</div>
	</div>
</section>{% endblock %}
