{{ form_start(formCategory) }} {{ form_widget(formCategory) }}
<button type="submit" class="btn btn-lg col-12 btn-primary btn-xl text-uppercase mt-2" id="create-category">
	Ajouter la catégorie
</button> {{ form_end(formCategory) }}
