{% extends 'base.html.twig'%} {% block body %}
<h1> {{ title }}</h1>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio quam debitis maiores molestiae reiciendis possimus, consequatur soluta, ut veniam eum qui quaerat ratione. Possimus facilis, voluptatum molestiae rem tempora exercitationem? Repudiandae sequi
    iusto, rem in libero officia excepturi itaque minima.</p>
<p>Omnis dignissimos, incidunt vero corporis unde laudantium culpa, beatae natus ab sint labore tempora dolores enim eius non temporibus et praesentium adipisci ipsum aliquid. Illo totam nobis libero temporibus? Dolore tempore culpa ad ea non assumenda consequuntur
    aut enim voluptatum?</p>
{% endblock %}