{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Page non trouvée{% endblock %}

{% block body %}
    <h2>Oups ! La page que vous recherchez n'existe pas !</h2>
    <a href="{{ path('home') }}" class="btn btn-primary">Retour à la page d'accueil</a>
{% endblock %}