{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Erreur interne du serveur
{% endblock %}

{% block body %}
	<div class="container py-5 mt-5">
		<div class="text-center">
			<h2>Une erreur s'est produtie du côté serveur !</h2>
			<a href="{{ path('home') }}" class="btn btn-primary">Retour à la page d'accueil</a>
		</div>
	</div>
{% endblock %}
