{% extends 'base.html.twig'%}
{% block body %}
	<h1 class="text-center"> {{ title }}</h1>

	<h2 class="text-center">Histoire
	</h2>
	<p>Les origines du snowboard sont difficiles à déterminer avec certitude. On peut en retrouver les prémices dans les années 1920. Dès cette époque, il semble que, indépendamment de toute invention ou commercialisation, de nombreuses personnes se soient amusées à glisser sur la neige debout sur une planche. C'est beaucoup plus tard qu'auront lieu les premiers dépôts de brevets et les batailles juridiques qui permettent aujourd'hui à Jake Burton d'affirmer qu'il est l'inventeur du snowboard. Pourtant de nombreuses personnes revendiquent, à tort ou à raison, un rôle déterminant dans sa création, ou même sa paternité. Et s'ils sont en effet nombreux à avoir joué un rôle dans l'histoire de ce nouveau sport de glisse, il est difficile de mesurer l'importance de l'apport de chacun. En outre de nombreux pionniers ont développé des innovations identiques chacun de leurs côtés.</p>

	<p>L'histoire du snowboard c'est l'histoire de deux pratiques ancestrales qui doivent leur improbable rencontre à la modernité. Le ski était un moyen de transport scandinave dont l’origine remonte à la nuit des temps. Le surf est à l'origine une pratique sportive d'Hawaii qui représente un élément important et constitutif de la vie et de l'organisation de la communauté de l'île. Son origine remonte au moins au xve siècle. Dans la deuxième moitié du xixe siècle, le ski est devenu un sport. Un demi-siècle plus tard il allait rencontrer le surf et entraîner l'engrenage apparemment inéluctable de la création du snowboard. Pendant la lente maturation du snowboard, le surf va donner naissance à un autre avatar : le skateboard. Bien que créé beaucoup plus tard (1950 contre 1920), ce sport se développera plus vite, notamment grâce à sa simplicité de fabrication. Le snowboard, plus complexe et plus cher sera plus long à être mis au point et à s'imposer. Il aura donc l'occasion de s'inspirer de son cadet. Mais rappelons bien que si le skateboard a pu influencer le snowboard, il est plus jeune d'une trentaine d'années et ne peut donc en aucun cas en être considéré comme l'ancêtre. Leurs seuls rapports de filiation sont avec leur ancêtre commun : le surf.</p>

	<p>Pour citer les personnes ayant joué un rôle dans l'apparition, le développement et la popularisation du snowboard, on peut commencer par le nageur olympique américain d'origine hawaïenne Duke Kahanamoku responsable de la promotion du Surf dans le monde dès les années 1910, sans lui on aurait probablement pas essayé en 1920 de glisser sur la neige debout sur des fûts de bois dans cette position étrange. On peut ensuite citer M.J. Burchett, Tom Sims, Sherman Poppen, Dimitrije Milovich, l'équipe de Flite Snowboards, Jake Burton Carpenter, Mark Anolik, Regis Roland, Serge Dupraz, Jean Philippe Garcia (le Gourou du Freestyle), Maurice Lejeune (le fondateur de l'ISF), Gerard Rougier (le fondateur de l'AFS), Remi Forsans le fondateur du World Snowboard Day, Ken Achenback (Camp of Champions) et bien d'autres.</p>

	<p>Il a fallu quelques années pour que le snowboard atteigne une véritable reconnaissance, notamment par les stations de sports d'hiver qui l'ont pendant un temps interdit.</p>

	<p>Le snowboard est devenu un sport olympique en 1998.</p>

{% endblock %}
