{% extends 'base.html.twig'%}

{% block body %}
	<!-- Masthead-->
	<header class="masthead">
		<div class="container">
			<div class="masthead-subheading">SnowTricks</div>
			<div class="masthead-heading text-uppercase">SnowTricks</div>
			<a class="" href="#portfolio">
				<i class="fas fa-chevron-down fa-4x"></i>
			</a>
		</div>
	</header>


	<h1 class="text-center mt-5"> {{ title }}</h1>


	<!-- Présentation -->
	<section class="page-section" id="about">
		<div class="container">
			<div class="row free text-center text-lg-start">
				<div class="col-lg-6 side-left">
					<img src="img/snowboard.jpg" alt="">
				</div>
				<div class="col-lg-6 side-right">
					<h2 class="section-heading text-uppercase">SnowTricks</h2>
					<h3 class="section-subheading text-muted">Histoire du snowboard</h3>
					<p class="text-muted">Les origines du snowboard sont difficiles à déterminer avec certitude. On peut en retrouver les prémices dans les années 1920. Dès cette époque, il semble que, indépendamment de toute invention ou commercialisation, de nombreuses personnes se soient amusées à glisser sur la neige debout sur une planche. C'est beaucoup plus tard qu'auront lieu les premiers dépôts de brevets et les batailles juridiques qui permettent aujourd'hui à Jake Burton d'affirmer qu'il est l'inventeur du snowboard. Pourtant de nombreuses personnes revendiquent, à tort ou à raison, un rôle déterminant dans sa création, ou même sa paternité. Et s'ils sont en effet nombreux à avoir joué un rôle dans l'histoire de ce nouveau sport de glisse, il est difficile de mesurer l'importance de l'apport de chacun. En outre de nombreux pionniers ont développé des innovations identiques chacun de leurs côtés.</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
